@model CakeShop.Models.ViewModels.Pages.PageVM

@{
    ViewBag.Title = "Подробнее о странице";
}

    <h2>Подробнее о странице</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать страницу", "EditPage", new { id = Model.id }) |
    @Html.ActionLink("Вернутся к списку страниц", "Index")
</p>
